@using WebApplication1.DbModels
@model Blog
@{
    ViewData["Title"] = "Edit post - "+ Model.Name;
}


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
</head>
<h1>Posts Redactor</h1>

<table class="table">

    <form asp-action="Edit" method="post">
        <h1>Name</h1>
        <input type="text" name="Name" value="@Model.Name" />
        <h1>Description</h1>
        <input type="text" name="Description" value="@Model.Description" />
        <h1>Theme</h1>
        <select id="themeSelect" name="theme">
            <option value=@Model.Theme>@Model.Theme</option>
        </select>
        <input type="submit"/>
        </form>
</table>

<script>
    $.ajax({
        url: '@Url.Action("GetThemes", "Blogs")', 
        method: 'GET',
        success: function (data) {
            console.log(data); 
            data.forEach(function (theme) {
                $("#themeSelect").append(`<option value="${theme.name}">${theme.name}</option>`);
            });
        },
        error: function (error) {
            console.log("Ошибка при загрузке тем: ", error);
        }
    });
</script>

