@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    ViewData["Title"] = "Profile stats";
}
@model int
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>

<style>
    #fileInput {
        display: none;
    }

    #image {
        cursor: pointer;
        width: 200px;
        height: 200px;
        border: 2px solid #ccc;
        border-radius: 8px;
    }
</style>
</head>

<body>
    <div id="stats-container"></div>
    <div id="comments-container"></div>
</body>



<script>
    $(document).ready(function () {
        let postId = '@Model';

        loadComments(postId);
        loadStats(postId);

        function loadStats(postId) {
            $('#stats-container').empty();

            $.ajax({
                url: '/Stats/GetPostStats',
                method: 'GET',
                data: { postId: postId },
                dataType: 'json',
                success: function (data) {
                    if (data.success && data.message) {
                        alert(data.message);
                        return;
                    }

                    $('#stats-container').empty();
                    let postTable = `
                            <table class='table table-bordered'>
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Blog Name</th>
                                        <th>Name</th>
                                        <th>Likes</th>
                                        <th>Dislikes</th>
                                        <th>Comments</th>
                                        <th>CreateAt</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>${data.id}</td>
                                        <td>${data.blogName}</td>
                                        <td>${data.name}</td>
                                        <td>${data.likeCount}</td>
                                        <td>${data.notLikeCount}</td>
                                        <td>${data.comentsCount}</td>
                                        <td>${post.createAt}</td>
                                    </tr>
                                </tbody>
                            </table>`;

                    $('#stats-container').append(postTable);
                },
                error: function (error) {
                    console.error('Ошибка загрузки статистики:', error);
                }
            });
        }
    });

    async function loadComments(postId) {
        try {
            let comments = await $.ajax({
                url: '/Posts/GetComents',
                method: 'GET',
                data: { postId: postId },
                dataType: 'json'
            });

            $('#comments-container').empty();

            comments.forEach(comment => {
                let canChangeText = comment.canChange ? "Можно изменить" : "Невозможно изменить";
                let commentHtml = `
                    <div class="comment" data-id="${comment.id}">
                        <p><strong>${comment.authorName}</strong> (${canChangeText}):</p>
                        <p class="comment-text">${comment.text}</p>
                        <img src="data:image/png;base64,${comment.authorAvatar}" alt="Avatar" width="50" height="50">
                        <hr>
                    </div>`;
                $('#comments-container').append(commentHtml);
            });
        } catch (error) {
            console.error('Ошибка загрузки комментариев:', error);
            alert('Ошибка загрузки комментариев');
        }
    }
</script>