@using WebApplication1.DbModels
@model IEnumerable<Blog>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fixed Layout with Scrollable Center Block</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <style>
        #fileInput {
            display: none;
        }

        #image {
            cursor: pointer;
            width: 200px; 
            height: 200px; 
            border: 2px solid #ccc; 
            border-radius: 8px; 
        }
    </style>
</head>
<body class="bg-light">

    <div class="container mt-4">
        <h1 class="text-center mb-4">Admin Panel</h1>

        <div class="d-flex justify-content-center mb-4 gap-2">
            <a class="btn btn-dark" asp-action="Index" asp-controller="Game">Platform Games</a>
            <a asp-action="Baner" class="btn btn-dark" asp-controller="Admin">Banners</a>
            <a asp-action="Stats" class="btn btn-dark" asp-controller="Admin">Statistics</a>
        </div>
        <br>
        <div class="d-flex justify-content-center mb-4 gap-2">
            <input type="button" class="btn btn-dark"  id="showUsers" value="User List" />
            <input type="button" class="btn btn-outline-secondary" id="showModers" value="Moderator List" />
        </div>
   
        <div id="users" class="card p-3">
            <div class="input-group mb-3 justify-content-center">
                <span class="input-group-text">Name</span>
                <input type="text" class="form-control" id="nameOfUser" placeholder="Enter name">
                <span class="input-group-text">Email</span>
                <input type="text" class="form-control" id="emailOfUser" placeholder="Enter email">
                <button class="btn btn-success" id="addModer">Add</button>
            </div>

            <table class="table table-striped table-hover mt-2" border="1">
                <thead>
                    <tr class="table-dark">
                        <th>ID</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Warnings</th>
                        <th>Banned Until</th>
                    </tr>
                </thead>
                <tbody id="usersTableBody"></tbody>
            </table>
        </div>

        <div id="moders" class="card p-3">
            <div class="input-group mb-3 justify-content-center">
                <span class="input-group-text">Name</span>
                <input type="text" class="form-control" id="nameOfModer" placeholder="Enter name">
                <span class="input-group-text">Email</span>
                <input type="text" class="form-control" id="emailOfModer" placeholder="Enter email">
                <button class="btn btn-danger" id="deleteFromModer">Delete</button>
            </div>
            <table border="1" class="table table-striped table-hover mt-2">
                <thead class="table-dark">
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Warnings</th>
                        <th>Banned Until</th>
                    </tr>
                </thead>
                <tbody id="modersTableBody"></tbody>
            </table>
        </div>
    </div>
</body>

<script>
    document.getElementById('showUsers').onclick = function () {
        document.getElementById('users').hidden = false;
        document.getElementById('moders').hidden = true;
        $('#showUsers').removeClass("btn-outline-dark").addClass("btn-dark");
        $('#showModers').removeClass("btn-secondary").addClass("btn-outline-secondary");
        loadUsers();
    }

    document.getElementById('showModers').onclick = function () {
        document.getElementById('users').hidden = true;
        document.getElementById('moders').hidden = false;
        $('#showUsers').removeClass("btn-dark").addClass("btn-outline-dark");
        $('#showModers').removeClass("btn-outline-secondary").addClass("btn-secondary");
        loadModers();
    }

    document.getElementById('addModer').onclick = function () {
        let name = $('#nameOfUser').val();
        let email = $('#emailOfUser').val();
        $.ajax({
            url: '/Admin/AddModer',
            type: 'POST',
            data: ({
                name: name,
                email: email
            }),
            success: function (response) {
                alert(response.message);
                if (response.success) {
                    loadUsers();
                }
            },
            error: function () {
                alert('Error changing publication status!');
            }
        });
    }

    document.getElementById('deleteFromModer').onclick = function () {
        let name = $('#nameOfModer').val();
        let email = $('#emailOfModer').val();
        $.ajax({
            url: '/Admin/DeleteModer',
            type: 'POST',
            data: ({
                name: name,
                email: email
            }),
            success: function (response) {
                alert(response.message);
                if (response.success) {
                    loadModers();
                }
            },
            error: function () {
                alert('Error changing publication status!');
            }
        });
    }

    function loadUsers() {
        $.ajax({
            url: '@Url.Action("GetUsers", "Auth")',
            method: 'GET',
            success: function (response) {
                let tableBody = $('#usersTableBody');
                tableBody.empty();

                if (response.success && response.message) {
                    alert(response.message);
                    return;
                }

                response.forEach(user => {
                    let row = `<tr>
                        <td>${user.id}</td>
                        <td><a class="nav-link text-dark" href="/Profile/Index?id=${user.id}">${user.name}</a></td>
                        <td>${user.email}</td>
                        <td>${user.warnings}</td>
                        <td>${user.banTime ? new Date(user.banTime).toLocaleString() : 'Not Banned'}</td>
                    </tr>`;
                    tableBody.append(row);
                });
            }
        });
    }

    function loadModers() {
        $.ajax({
            url: '@Url.Action("GetModers", "Auth")',
            method: 'GET',
            success: function (response) {
                let tableBody = $('#modersTableBody');
                tableBody.empty();

                if (response.success && response.message) {
                    alert(response.message);
                    return;
                }

                response.forEach(user => {
                    let row = `<tr>
                        <td>${user.id}</td>
                        <td><a class="nav-link text-dark" href="/Profile/Index?id=${user.id}">${user.name}</a></td>
                        <td>${user.email}</td>
                        <td>${user.warnings}</td>
                        <td>${user.banTime ? new Date(user.banTime).toLocaleString() : 'Not Banned'}</td>
                    </tr>`;
                    tableBody.append(row);
                });
            }
        });
    }

    $(document).ready(function () {
        loadUsers();
        document.getElementById('moders').hidden = true;
    });
</script>
